/*10/13/2025fix*/
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family:"SegoeUI", sans-serif;
	background:#f1f1f5;
	text-align: center;
	margin:0;
}

.page{
	padding:40px; 
}

button {
	padding:10px20px;
	margin-top:20px;
	border: none;
	border-radius:8px;
	background-color:#4c8bf5;
	color: black;/*black*/ 
	cursor: pointer;
	font-size:16px;
	transition:0.2s;
}
 
button:hover {
	background-color:#3b6fdd; 
}

.game-grid{
	display:grid;
	grid-template-columns: repeat(3,80px);
	gap:12px;
	justify-content: center;
	margin-top:20px;
}

.emoji-card{
	background:white;
	border-radius:10px;
	box-shadow:006pxrgba(0,0,0,0.1);
	width:80px;
	height:80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:32px;
	transition:0.2s;
}

.emoji-card:hover {
	transform:scale(1.1); 
}

